# Save directories
/src/savegame/saves/

/src/savegame/game_savepath.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# setup.py

# .idea files
**/.idea/workspace.xml **/.idea/tasks.xml